body{
    background:linear-gradient(to left, #30E3CA, white);
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
  }
  .card__img{
    height: 300px;
    object-fit: cover;
    

  }
  
  
  .container{
    display:flex;
      align-items:center;
      justify-content:center;
      height:100vh;
      width:100%;
      flex-wrap: wrap;
  }
  .img-component{
     display:flex;
      justify-content:center;
      height:30vh;
      width:100%;
      flex-wrap: wrap;
      align-items:flex-end;
  }
  .containerCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
      height:100%;
      width:100%;
      

  }

  .card{
    border: 2px solid royalblue;
    border-radius: 50px 20px;
    box-shadow: 10px 10px rgba(150,170,180,0.5);

    margin: 2rem;
    padding: 1rem;
    border-radius:10%;
    

  }
    .form-box{
        width:380px;
        height:450px;
        background-color:black;
        padding:20px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        opacity:0.5;
        border-radius:2%;
    }
  .header-form{
    margin-bottom:15px;
  }
  button{
    margin-top:40px;
    margin-bottom:10px;
  }
  .message{
    display:flex;
    justify-content:space-between
  }
  .social{
    display:flex;
    justify-content:space-around;
    padding:30px;
  }
  
  .social i{
    font-size:35px;
  }
  
  .social i:hover{
    color:red;
    cursor:pointer;
  }